mixin getListado(objLista)
    
        each obj in objLista
            .d-flex.align-items-center
                if(obj.icon != "fas fa-circle")
                    img(src=`${obj.icon}`, alt="", width="30", height="30")
                else
                    i(class=`${obj.icon} fa-sm`)

                li.ml-2.my-3= obj.name 

mixin modal1(obj)
    <div class="modal fade" id="basicExampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    h5(class="modal-title")= obj.tittle
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    +contentModal(obj.features, obj.img)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

mixin modal2(obj)
    <div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    h5(class="modal-title")= obj.tittle
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    +contentModal(obj.features, obj.img)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

mixin modal3(obj)
    <div class="modal fade" id="basicExampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    h5(class="modal-title")= obj.tittle
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    +contentModal(obj.features, obj.img)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>


mixin card1(title, image, description)
    .col-12.col-sm-12.col-md-4.mb-4.d-flex.contenedor-card#totem
        .card.align-items-center
            .card-header
                h2.card-tittle= title
            img(src=`img/assets/${image}`, class="card-img-top img-fluid")
            .card-body
                p.card-text= description
                .contenedor-boton
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal1">Ver Mas</button>

mixin card2(title, image, description)
    .col-12.col-sm-12.col-md-4.mb-4.d-flex.contenedor-card
        .card.align-items-center
            .card-header
                h2.card-tittle= title
            img(src=`img/assets/${image}`, class="card-img-top img-fluid")
            .card-body
                p.card-text= description
                .contenedor-boton
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal2">Ver Mas</button>

mixin card3(title, image, description)
    .col-12.col-sm-12.col-md-4.mb-4.d-flex.contenedor-card
        .card.align-items-center
            .card-header
                h2.card-tittle= title
            img(src=`img/assets/${image}`, class="card-img-top img-fluid")
            .card-body
                p.card-text= description
                .contenedor-boton
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal3">Ver Mas</button>

mixin contentModal(content, image)
    each c in content
        p= c.name

mixin contactForm()
    <form class="text-center white p-3 rounded-lg open-sans z-depth-2" action="#!">
        <p class="h4 mb-4">Contacto</p>
        <input type="text" id="contact-name" class="form-control mb-4" placeholder="Nombre">
        <input type="email" id="contact-email" class="form-control mb-4" placeholder="E-mail">
        <label>Asunto</label>
        <select class="browser-default custom-select mb-4">
            <option value="" disabled>Elegir una opcion</option>
            <option value="1" selected>Consulta</option>
            <option value="2">Trabajo a realizar</option>
        </select>
        <div class="form-group">
            <textarea class="form-control rounded-0" id="contact-message" rows="3" placeholder="Mensaje"></textarea>
        </div>
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>
        <button class="btn btn-info btn-block" type="submit">Enviar</button>
    </form>
